<form [formGroup]="freightForm" (ngSubmit)="onSubmit()" clrForm>
  <clr-wizard #freightWizard id="freightWizard" clrWizardSize="lg" (clrWizardOnFinish)="doFinish()"
    [clrWizardPreventDefaultCancel]="true" (clrWizardOnCancel)="doCancel()">
    <clr-wizard-title>Нов превоз</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">отмени</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">назад</clr-wizard-button>
    <clr-wizard-button [type]="'next'">продължи</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">завърши</clr-wizard-button>

    <ng-container *ngFor="let pi of pointsInfo; let i=index">
      <clr-wizard-page>
        <ng-template clrPageTitle>
          <ng-container [ngSwitch]="pi.type">
            <ng-container *ngSwitchCase="PointPosType.START">Начален пункт</ng-container>
            <ng-container *ngSwitchCase="PointPosType.INTERMEDIATE">Междинен пункт {{i}}</ng-container>
            <ng-container *ngSwitchCase="PointPosType.FINAL">Финален пункт</ng-container>
          </ng-container>
        </ng-template>
        <div [formGroup]="pi.formGroupRef">
          <div class="clr-row clr-align-items-start clr-justify-content-start">
            <div class="clr-col-xs-12">
              <span class="clr-control-label wiz-cust-label">Лице за контакт</span>
            </div>
          </div>
          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
            <div class="clr-col-xs-12 clr-col-md-4">
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input formControlName="contactFirstName" type="text" id="basic" placeholder="Име" class="clr-input"
                    size=20>
                </div>
              </div>
            </div>
            <div class="clr-col-xs-12 clr-col-md-8">
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input formControlName="contactLastName" type="text" id="basic" placeholder="Фамилия" class="clr-input"
                    size=20>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
            <div class="clr-col-xs-12 clr-col-md-8">
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input formControlName="contactPhone" type="text" id="basic" placeholder="Телефон" class="clr-input"
                    size=30>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row wiz-cust-form-group-margin">
            <div class="clr-col-xs-12">
              <span class="clr-control-label wiz-cust-label">Информация за адреса</span>
            </div>
          </div>
          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
            <div class="clr-col-xs-12 clr-col-md-4">
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input formControlName="addressCity" type="text" id="basic" placeholder="Град" class="clr-input" size=20>
                </div>
              </div>
            </div>
            <div class="clr-col-xs-12 clr-col-md-8">
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input formControlName="addressZipCode" type="text" id="basic" placeholder="Пощенски код" class="clr-input"
                    size=20>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
            <div class="clr-col-xs-12 clr-col-md-12">
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input formControlName="addressLine" type="text" id="basic" placeholder="район, квартал, улица, номер, вх., т.н."
                    class="clr-input" size=40>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
              <div class="clr-col-xs-12 clr-col-md-12">
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input formControlName="companyName" type="text" id="basic" placeholder="име на фирма"
                      class="clr-input" size=20>
                  </div>
                </div>
              </div>
            </div>

          <div *ngIf="pi.type !== PointPosType.FINAL"
                class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row wiz-cust-form-group-margin">
            <div class="clr-col-xs-12">
              <span class="clr-control-label wiz-cust-label">Описание на товарна дейност</span>
            </div>
          </div>
          <div *ngIf="pi.type === PointPosType.INTERMEDIATE" class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
            <div class="clr-col-xs-12 clr-col-md-6">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox formControlName="loading" />
                <label>Товарене</label>
              </clr-checkbox-wrapper>
            </div>
            <div *ngIf="pi.type === PointPosType.INTERMEDIATE" class="clr-col-xs-12 clr-col-md-6">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox formControlName="unloading" />
                <label>Разтоварване</label>
              </clr-checkbox-wrapper>
            </div>
          </div>

          <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
            <div *ngIf="pi.type !== PointPosType.FINAL" class="clr-col-xs-12 clr-col-md-6">
              <div class="clr-control-container">
                  <textarea class="clr-textarea" formControlName="loadDescription" placeholder="Опишете стоката за товарене"
                    cols="30"></textarea>
              </div>
            </div>
            <div *ngIf="pi.type === PointPosType.INTERMEDIATE" class="clr-col-xs-12 clr-col-md-6">
              <textarea class="clr-textarea" formControlName="unloadDescription" placeholder="Опишете стоката за разтоварване"
                cols="30"></textarea>
            </div>
          </div>

          <div *ngIf="pi.type === PointPosType.FINAL" class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-form-group-margin">
            <div class="clr-col-xs-12">
              <span class="clr-control-label wiz-cust-label">Коментар</span>
            </div>
          </div>
          <div *ngIf="pi.type === PointPosType.FINAL" class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
            <div class="clr-col-xs-12 clr-col-md-auto">
              <textarea class="clr-textarea" formControlName="notes" placeholder="въведете текст" cols="30"></textarea>
            </div>
          </div>

          <div class="clr-row clr-align-items-start clr-justify-content-start wizard-cust-btn-container">
            <div class="clr-col-xs-12">
              <button *ngIf="pi.type === PointPosType.INTERMEDIATE" class="btn btn-warning-outline btn-link btn-sm"
                (click)="removePointAndProceed(i)">X изтрий
                този пункт</button>
              <button *ngIf="pi.type !== PointPosType.FINAL" class="btn btn-link btn-sm" (click)="addPointAndProceed(i)">добави
                следващ пункт ></button>
            </div>
          </div>
        </div>
      </clr-wizard-page>
    </ng-container>
    <clr-wizard-page>
      <ng-template clrPageTitle>Завърши</ng-template>
    </clr-wizard-page>
  </clr-wizard>
</form>

<button class="btn" (click)="openNewFreightWizard()">Добави превоз</button>