<clr-main-container>
  <clr-header [hidden]="!auth.authenticated">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">CargoPay</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{auth.username}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem>About</a>
          <a clrDropdownItem>Preferences</a>
          <a (click)="logout()" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav [hidden]="!auth.authenticated" class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link" routerLink="./" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Начало</a>
        <a class="nav-link" routerLink="/console/orders" routerLinkActive="active">Заявки</a>
        <a class="nav-link" routerLink="/console/dashboard" routerLinkActive="active">Табло</a>
      </section>
    </nav>
  </div>
</clr-main-container>