<div [formGroup]="leControls">
  <ng-container *ngIf="mode == 'COMPANY_EDIT'">
    <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
      <div class="clr-col-xs-12">
        <span class="clr-control-label wiz-cust-label">Основна информация</span>
      </div>
    </div>
    <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
      <div class="clr-col-xs-12 clr-col-md-12">
        <div class="clr-control-container">
          <select #entityType clrSelect name="options">
            <option value="company">Фирма</option>
            <option value="company_transport">Транспортна Фирма</option>
            <option value="physical_entity">Физическо лице</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="entityType.value == 'company_transport'" class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
      <div class="clr-col-xs-12 clr-col-md-12">
        <clr-checkbox-container clrInline>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="options" required value="option1" />
            <label>Транспорт</label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="options" required value="option2" />
            <label>Спедиция</label>
          </clr-checkbox-wrapper>
          <clr-control-helper>Изберете предлаганите услуги</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-checkbox-container>
      </div>
    </div>
    <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
      <div class="clr-col-xs-12 clr-col-md-12">
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input formControlName="companyName" type="text" id="basic" placeholder="име на фирма" class="clr-input"
              size=30>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
      <div class="clr-col-xs-12 clr-col-md-12">
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" id="basic" placeholder="Булстат/ЕГН" class="clr-input" size=30>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
    <div class="clr-col-xs-12">
      <span class="clr-control-label wiz-cust-label">Адрес</span>
    </div>
  </div>
  <div *ngIf="mode === ControlMode.LEGAL_ENTITY_EDIT" class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
    <div class="clr-col-xs-12 clr-col-md-12">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="companyName" type="text" id="basic" placeholder="име на фирма" class="clr-input" size=30>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
    <div class="clr-col-xs-12 clr-col-md-4">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="addressCity" type="text" id="basic" placeholder="Град" class="clr-input" size=20>
        </div>
      </div>
    </div>
    <div class="clr-col-xs-12 clr-col-md-8">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="addressZipCode" type="text" id="basic" placeholder="Пощенски код" class="clr-input"
            size=20>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row ">
    <div class="clr-col-xs-12 clr-col-md-12">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="addressLine" type="text" id="basic" placeholder="район, квартал, улица, номер, вх., т.н."
            class="clr-input" size=40>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-form-group-margin">
    <div class="clr-col-xs-12">
      <span class="clr-control-label wiz-cust-label">Лице за контакт</span>
    </div>
  </div>
  <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
    <div class="clr-col-xs-12 clr-col-md-4">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="contactFirstName" type="text" id="basic" placeholder="Име" class="clr-input" size=20>
        </div>
      </div>
    </div>
    <div class="clr-col-xs-12 clr-col-md-8">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="contactLastName" type="text" id="basic" placeholder="Фамилия" class="clr-input" size=20>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row clr-align-items-start clr-justify-content-start wiz-cust-row">
    <div class="clr-col-xs-12 clr-col-md-8">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input formControlName="contactPhone" type="text" id="basic" placeholder="Телефон" class="clr-input" size=30>
        </div>
      </div>
    </div>
  </div>

</div>