<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <app-dg-filters-state [columnNameMap]="columnNames"></app-dg-filters-state>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
      <clr-dg-column [clrDgField]="'id'">{{columnNames['id']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'orderId'">{{columnNames['orderId']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'status'">{{columnNames['status']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'price'">{{columnNames['price']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'subOrder'">{{columnNames['subOrder']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'startDate'">{{columnNames['startDate']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'points'">{{columnNames['points']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'driver.contact.names'">{{columnNames['driver']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'auto'">{{columnNames['auto']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'trailer'">{{columnNames['trailer']}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'createdAt'">{{columnNames['createdAt']}}</clr-dg-column>

      <clr-dg-row *clrDgItems="let f of freights">
        <clr-dg-cell>{{f.id}}</clr-dg-cell>
        <clr-dg-cell>{{f.orderId}}</clr-dg-cell>
        <clr-dg-cell>{{f.status}}</clr-dg-cell>
        <clr-dg-cell>{{f.price}}</clr-dg-cell>
        <clr-dg-cell><span *ngIf="f.subOrder">{{f.subOrder.id}} - {{f.subOrderId.contractor}}</span>{{f.price}}</clr-dg-cell>
        <clr-dg-cell>{{f.startDate | date}}</clr-dg-cell>
        <clr-dg-cell>
          <ol class="list compact">
            <li *ngFor="let p of f.points">{{pointShortStr(p)}}</li>
          </ol>
        </clr-dg-cell>
        <clr-dg-cell><span *ngIf="f.driver">{{f.driver.contact.firstName}}</span></clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="f.auto">{{f.auto.plateNumber}}</span>
        </clr-dg-cell>
        <clr-dg-cell>
          <p *ngIf="f.trailer">{{f.trailer.plateNumber}}</p>
        </clr-dg-cell>
        <clr-dg-cell>{{f.createdAt}}</clr-dg-cell>

      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [(clrDgPage)]="page.current" [clrDgPageSize]="page.size" [clrDgTotalItems]="page.totalItems"
          [clrDgLastPage]="page.lastIndex">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          от {{pagination.totalItems}} заявки
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>