/* You can add global styles to this file, and also import other style files */
.cust-nav-text {
    font-weight: 700;
}
.wizard-cust-btn-container {
    margin-top: 1rem;
}
.wiz-cust-row {
    margin-top: 0.5rem;
}
.wiz-cust-label {
    padding-left: 0.5rem;
}
.wiz-cust-form-group-margin {
    margin-top: 1.5rem;
}